
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: "raleway";
  touch-action: manipulation;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background: linear-gradient(0deg, rgb(14, 14, 14), rgb(9, 0, 39));
  overflow: hidden;
}

.emoji {
  font-size: 6rem;
  padding: 1rem 3rem;
  color: rgb(255, 255, 255);
  text-align: center;
}


.text{
  color: rgba(255, 166, 0, 0.883);
  font-size: 3rem;
}
